<div class="st-content-inner">
  <div class="container">
    <div class="cover profile">
      <div class="wrapper">
        <div class="image hidden-xs">
          <table><td width="600" height="60"/></table>
        </div>
      </div>
      <div class="cover-info">
        <div class="avatar">
          <img src="./img/guy-5.jpg" alt="people">
        </div>
        <div class="name"><h2><font color="#105DC1">Igor Tartalja</font></h2></div>
        <ul class="cover-nav">
          <li  class="active">
            <a href="Gost_Predavac_Profil.html">
              <i class="fa fa-fw fa-user"></i> Profil
            </a>
          </li>
          <li>
            <a href="Gost_Predavac_Opis.html">
              <i class="fa fa-fw fa-info-circle"></i> Opis
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="timeline row" data-toggle="isotope" style="position: relative; height: 2774.86px;">

      <div class="col-xs-12 col-md-4 item" style="position: absolute; left: 0px; top: 0px;">
        <div class="timeline-block">
          <div class="panel panel-default profile-card clearfix-xs">
            <div class="panel-body">
              <div class="profile-card-icon">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <h4 class="text-center">Asistent</h4>
              <ul class="icon-list icon-list-block">
                <li><i class="fa fa-map-marker"></i> Elektrotehnički fakultet, Beograd</li>
                <li><i class="fa fa-trophy"></i> 2013 zaposlen</li>
                <li><i class="fa fa-calendar"></i> RTI katedra</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="timeline-block">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="media">
                <div class="media-body">
                  <a href="">Predaje na kursevima</a>
                </div>
              </div>
            </div>

            <div class="view-all-comments">
              <a href="">
                <i class="fa fa-comments-o"></i> Prikaži sve
              </a>
              <span>10 predmeta</span>
            </div>
            <ul class="comments">
              <li class="media">
                <div class="media-left">
                  <a href="">
                    <img src="./img/guy-5(1).jpg" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <a href="" class="comment-author pull-left">Objektno orjentisano programiranje</a>
                  <br/>
                  <div class="comment-date">21 Septembar</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-8 item" style="position: absolute; left: 0px; top: 0px;">
        <div class="timeline-block">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="media">
                <div class="media-body">
                  <a href="">Komentari sa kurseva na kojima predaje</a>
                </div>
              </div>
            </div>
            <ul class="comments">
              <li class="media">

                <div class="media-left">

                  <a href="Clan_Clan_Profil">
                    <img src="./img/guy-5(1).jpg" class="media-object">
                  </a>
                </div>
                <div class="media-body">
                  <div class="pull-right dropdown" >
                    <a class="toggle-button disabled">
                      <i class="fa fa-minus"> 2</i></span>
                    </a>
                  </div>
                  <div class="pull-right dropdown" >
                    <a href=""  class="toggle-button disabled">
                      <i class="fa fa-plus"> 4</i></span>
                    </a>
                  </div>
                  <a href="Gost_Kurs_Profil.html" class="comment-author pull-left">Principi Softverskog Inženjerstva</a>
                  <br/>
                  <div class="comment-date">Jako lep predmet.</div>
                  <br/>
                  <div class="comment-date">21 Septembar</div>
                </div>
                <div class="view-all-comments">
                  <a href="" data-toggle="modal" data-target="#myModal3">
                    <i class="fa fa-comments-o"></i> Prikaži sve
                  </a>
                  <span>10 komentara</span>
                </div>
              </li>
            </ul>
          </div> <!--/contaner-->
        </div><!-- /st-content-inner -->
      </div>
    </div>
  </div>
</div>

