<div class="st-content-inner">
      <div class="container">

        <div class="cover profile">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="media">
                <div class="media-body">
                  <strong>Pretraga za Relja</strong>
                </div>
              </div>
            </div>
            <div class="view-all-comments">
              <a href="">
                <i class="fa fa-search"></i> Prikaži sve rezultate pretrage
              </a>
            </div>
            <ul class="comments"  >     
              <li class="media" >
                <div class="media-left">
                  <a href="">
                    <img src="./img/guy-5(1).jpg" class="media-object">
                  </a>
                </div>
        
                <div class="media-body">                       
                  <a href="Gost_Predavac_Profil.html" class="comment-author pull-left">Principi Softverskog Inženjerstva</a>
                </div>
              </li>

            </ul>
          </div>
        </div>               
      </div>
    </div>
