 <div class="st-content-inner">
      <div class="container">

        <div class="cover profile">
          <div class="wrapper">
            <div class="image hidden-xs">
              <table><td width="600" height="60"/></table>
            </div>
          </div>
          <div class="cover-info">
            <div class="avatar">
              <img src="./img/guy-5.jpg" alt="people">
            </div>
            <div class="name"><h2><font color="#105DC1">Igor Tartalja</font></h2></div>
            <ul class="cover-nav">
              <li  >
                <a href="Clan_Predavac_Profil.html">
                  <i class="fa fa-fw fa-user"></i> Profil
                </a>
              </li>
              <li  class="active">
                <a href="Clan_Predavac_Opis.html">
                <i class="fa fa-fw fa-info-circle"></i> Opis
                </a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#myModal4">
                  <i class="fa fa-fw fa-envelope"></i> Kontaktiraj
                </a>
              </li>
            </ul>
          </div>
        </div>

       <div class="panel panel-default">
              <div class="panel-heading panel-heading-gray">
                <i class="fa fa-fw fa-info-circle"></i> O Predavacu
              </div>
              <div class="panel-body">
                <ul class="list-unstyled profile-about margin-none">
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Ime</span></div>
                      <div class="col-sm-8">Igor </div>
                    </div>
                  </li>   
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Prezime</span></div>
                      <div class="col-sm-8">Tartalja</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Zvanje</span></div>
                      <div class="col-sm-8">tartalja</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">E-mail</span></div>
                      <div class="col-sm-8">tartalja</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Katedra</span></div>
                      <div class="col-sm-8">12 January 1990</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Godina Zaposljenja</span></div>
                      <div class="col-sm-8">12 January 1990</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">O predavacu</span></div>
                      <div class="col-sm-8">12 January 1990</div>
                    </div>
                  </li>
                </ul>
                </div>
            </div>  
      </div>
		</div>  
