<div class="st-content-inner">
      <div class="container">

        <div class="cover profile">
          <div class="wrapper">
            <div class="image hidden-xs">
              <table><td width="600" height="60"/></table>
            </div>       
          </div>
          <div class="cover-info">
            <div class="avatar">
              <img src="./img/unknown.jpg" alt="people">
            </div>
            <div class="name">
              <h2><font color="#105DC1"><?php echo $kur['ime']?></font></h2>
            </div>
            <ul class="cover-nav">
              <li>
                <a href="Clan_Kurs_Profil.html">
                <i class="fa fa-fw fa-user"></i> Profil
                </a>
              </li>
              <li  class="active">
                <a href="Clan_Kurs_Opis.html">
                <i class="fa fa-fw fa-info-circle"></i> Opis
                </a>
              </li>
              <li>
                <a href="Clan_Kurs_Komentar.html">
                <i class="fa fa-fw fa-envelope"></i> Komentariši
                </a>
              </li>
					  </ul>
          </div>
        </div>

        <div class="timeline row" data-toggle="isotope" style="position: relative; height: 2774.86px;">
       
          <div class="col-xs-12 col-md-4 item" style="position: absolute; left: 0px; top: 0px;">
            <div class="timeline-block">
              <div class="panel panel-default relative"> 
                <ul class="icon-list icon-list-block">
                  <li>Zanimljivost
                    <div class="media" align="right" >4.0</div>        
                  </li>
                  <li>Korisnost
                    <div class="media" align="right" >5.0</div>        
                  </li>
                  <li>Tezina
                    <div class="media" align="right" >4.8</div>        
                  </li>
                  <li>Preporuka
                    <div class="media" align="right" >4.9</div>        
                  </li>
                </ul>
                <div class="panel-body panel-boxed text-center">
                  <div class="rating">
                    <span class="star"></span>
                    <span class="star filled"></span>
                    <span class="star filled"></span>
                    <span class="star filled"></span>
                    <span class="star filled"></span>
                  </div>
                </div>
                <div class="panel-body">
                  <img src="./img/guy-2(1).jpg" alt="people" class="img-circle">
                  <img src="./img/woman-2.jpg" alt="people" class="img-circle">
                  <img src="./img/guy-3(1).jpg" alt="people" class="img-circle">
                  <img src="./img/woman-3(1).jpg" alt="people" class="img-circle">
                  <a href="" class="user-count-circle">12+</a>
                </div>
              </div>

            </div>
          </div>
                    
          <div class="col-xs-12 col-md-8 item" style="position: absolute; left: 0px; top: 182px;">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-gray">
                <i class="fa fa-fw fa-info-circle"></i> O kursu
              </div>
              <div class="panel-body">
                <ul class="list-unstyled profile-about margin-none">
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Profesor</span></div>
                      <div class="col-sm-8">Igor Tartalja</div>
                    </div>
                  </li>   
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Asistent</span></div>
                      <div class="col-sm-8">Sofija Puric</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Asistent</span></div>
                      <div class="col-sm-8">Drazen Draskovic</div>
                    </div>
                  </li>
                  <li class="padding-v-5">
                    <div class="row">
                      <div class="col-sm-4"><span class="text-muted">Godina Nastanka</span></div>
                      <div class="col-sm-8">12 January 1990</div>
                    </div>
                  </li>
                </ul>
                </div>
            </div>
          </div>

        </div> 
      </div><!-- /container -->
  
    </div><!-- /st-content-inner -->
